@font-face {
  src: url("fonts/JosefinSlab-SemiBold.ttf");
  font-family: "JSlab-sb"; }
@font-face {
  src: url("fonts/JosefinSlab-Bold.ttf");
  font-family: "JSlab-b"; }
img {
  width: 100%;
  display: block;
  margin-top: 1.125vw; }

body {
  margin: 9vw 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "JSlab-sb"; }

canvas {
  top: 0;
  z-index: -1;
  min-width: 100vw;
  max-width: 100vw;
  position: absolute; }

.section::first-letter {
  font-family: "JSlab-b";
  font-size: 2.25vw; }

.section {
  width: 38.25vw;
  transition: 1s;
  padding: 4.5vw;
  margin: 6.75vw 23.375vw;
  font-size: 1.8vw;
  text-align: justify;
  background-color: #fff;
  transform: perspective(1000vw) rotateY(0deg); }

.content {
  margin-bottom: 11.25vw;
  transition: 1s; }

.title {
  transition: 1.5s !important;
  margin-bottom: -4.5vw;
  margin-left: -2.25vw;
  font-size: 4.5vw;
  text-align: center; }

.highlight {
  background-color: #fff;
  padding: 0 2.25vw; }

.up {
  position: fixed;
  bottom: 2.25vw;
  background-color: #fff;
  height: 4.5vw;
  width: 4.5vw;
  z-index: 100;
  text-align: center;
  line-height: 3.375vw;
  font-size: 4.5vw;
  cursor: pointer;
  transition: .5s;
  transform: perspective(20vw) rotateY(0deg) rotateZ(-90deg); }

.show {
  right: 2.25vw; }

.hide {
  right: -4.5vw; }

.up:hover {
  transform: perspective(20vw) rotateY(-20deg) rotateZ(-90deg); }

.slide-left {
  margin-left: 13.5vw; }

.slide-right {
  margin-left: 33.25vw; }

.slow {
  transition: 3s; }

.fast {
  transition: 1s; }

.shadow {
  box-shadow: 0 0 2.25vw rgba(0, 0, 0, 0.3); }

.portfolio {
  padding: 0;
  width: 76.5vw;
  height: 57.375vw;
  margin-left: 11.6875vw;
  background-color: transparent;
  transform: perspective(1000vw) rotateY(0deg); }

.thumb, .snap, .profile {
  width: 15.3vw;
  padding: 0.5625vw;
  margin: 1.125vw;
  transition: .5s;
  text-align: center;
  background-color: #fff;
  box-shadow: 0.32143vw 0.32143vw 1.125vw rgba(0, 0, 0, 0.4);
  transform: perspective(200vw) translateZ(0.1vw); }

.snap {
  float: left;
  cursor: pointer;
  color: #000;
  padding-top: 1.125vw; }

.profile {
  transition: 1s;
  width: 22.95vw;
  float: right;
  margin-left: -8.25vw;
  margin-bottom: -8.25vw;
  transform: rotateZ(1deg) translateX(0) translateY(0); }

.anim-profile {
  transform: rotateZ(1deg) translateX(9vw) translateY(-9vw); }

.snap:hover {
  transform: perspective(200vw) translateZ(4.5vw); }

.bg {
  left: -2.25vw;
  z-index: -10;
  position: absolute; }

.bar {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100vw;
  z-index: 50;
  transition: .5s;
  background-color: #fff; }

.vis {
  top: 0; }

.hid {
  top: -5.625vw; }

.nav {
  width: 47.25vw;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  left: 0;
  right: 0; }

.item {
  width: 100%;
  font-size: 1.5vw;
  cursor: pointer;
  transition: .5s;
  line-height: 2.25vw;
  text-align: center;
  padding: 1.125vw 0;
  font-family: "JSlab-sb";
  border-bottom: 2px solid transparent;
  border-radius: 10%; }

.item:hover {
  border-bottom: 2px solid #000;
  border-radius: 0%; }

.logo {
  color: #fff;
  background-color: #fba;
  margin: 1.125vw 0 0 1.125vw;
  position: absolute;
  line-height: 1.125vw;
  font-size: 2.25vw;
  font-family: "JSlab-b"; }

#B {
  font-size: 90%; }

 /*
#g {
	font-size: 130%;
	font-family: "JSlab-sb";
}*/
@media screen and (max-width: 600px) {
  body {
    margin: 0; }

  p {
    font-size: 5.25vw; }

  .content {
    padding: 14vw 7vw; }

  .nav {
    width: 77vw;
    right: 7vw;
    margin: auto; }

  .item {
    font-size: 4.66667vw;
    line-height: 7vw;
    padding: 3.5vw 0;
    margin: 28vw 2.33333vw auto 0; }

  .logo {
    position: absolute;
    width: 73.5vw;
    left: 0;
    right: 0;
    margin: 7vw auto;
    line-height: 8.75vw;
    font-size: 15.4vw; } }

/*# sourceMappingURL=style.css.map */
