$bg: #fff;
$primary: #fba;
$border: #ddd;
$a: 2.9vw;


@font-face {
	src: url("fonts/JosefinSlab-SemiBold.ttf");
	font-family: "JSlab-sb";
}

@font-face {
	src: url("fonts/JosefinSlab-Bold.ttf");
	font-family: "JSlab-b";
}

p {
	font-size: .75 * $a;
	text-align: justify;
}

p::first-letter {
	font-family: "JSlab-b";
	font-size: $a;
}

body {
	margin: -.5vh 0;
	padding: 0;
	background-color: $bg;
	vertical-align: baseline;
	font-family: "JSlab-sb";
}


canvas {
	top: 0;
	z-index: -1;
	min-width: 110vw;
	position: absolute;
}

.bg {
	left: -$a;
	z-index: -10;
	position: absolute;
}

.content {
	padding: $a 3*$a;
}

.cont-1 {
}

.cont-2 {
	background-color: #fde;
}

.cont-3 {
}

.cont-4 {
	background-color: #efa;
}

.bar {
	margin: 0;
	background-color: $bg;
}

.nav {
	width: 40vw;
	display: flex;
	margin: $a/13 auto 0 auto;
	flex-direction: row;
	left: 0; right: 0;
}

.item {	
	width: 100%;
	font-size: 2 * $a/3;
	cursor: pointer;
	transition: .5s;
	line-height: $a;
	text-align: center;
	padding: $a/2 0;
	font-family: "JSlab-sb";
	border-bottom: 2px solid rgba(0,0,0,0);
}

.item:hover {
	border-bottom: 2px solid #000;
}

.logo {
	color: $bg;
	background-color: $primary;
	margin: $a/2 0 0 3*$a;
	position: absolute;
	line-height: .5 * $a ;
	font-size:  $a;
	font-family: "JSlab-b";
}
#B {
	font-size: 90%;
}
#g {
	font-size: 130%;
	font-family: "JSlab-sb";
}


@media screen and (max-width: 600px) {
	$a: 7vw;
	
	body {
		margin: 0;
	}

	p {
		font-size: .75 * $a;
	}
	canvas {
		top: 2*$a !important;
		left: -$a;
	}

	.content {
		padding: 3*$a 2*$a;
	}

	.nav {
		width: 11*$a;
		right: $a;
		margin: auto;
	}

	.item {	
		font-size: 2 * $a/3;
		line-height: $a;
		padding: $a/2 0;
		margin: 4*$a $a/3 auto 0;
	}

	.logo {
		position: absolute;
		width: 10.5*$a;
		left:0; right: 0;
		margin: $a auto;
		line-height: 1.25*$a ;
		font-size:  2.2 * $a;
	}
}
