$bg: #fff;
$primary: #fba;
$border: #ddd;
$a: 2.9vw;
$ml: (85 - 17*$a) / 2;
$w: 17*$a;


@font-face {
	src: url("fonts/JosefinSlab-SemiBold.ttf");
	font-family: "JSlab-sb";
}

@font-face {
	src: url("fonts/JosefinSlab-Bold.ttf");
	font-family: "JSlab-b";
}

.section {
	width: $w;
	transition: 1s;
	padding: 2*$a;
	margin: 3*$a $ml;
	font-size: .7 * $a;
	text-align: justify;
	transform: perspective(1000vw) rotateY(0deg);
}

.up {
	position: fixed;
	bottom: $a;
	background-color: $bg;
	height: 2*$a;
	width: 2*$a;
	text-align: center;
	line-height: 1.5*$a;
	font-size: 2*$a;
	cursor: pointer;
	transition: .5s;
	transform: perspective(20vw) rotateY(0deg) rotateZ(-90deg);
}

.show {
	right: $a;
}

.hide {
	right: -2*$a;
}

.up:hover {
	transform: perspective(20vw) rotateY(-20deg) rotateZ(-90deg);
}

.slide-left {
	margin-left: 6*$a; 
}

.slide-right {
	margin-left: 2*$ml - 6*$a;
}

.slow {
	transition: 3s;
}

.fast {
	transition: 1s;
}

p::first-letter {
	font-family: "JSlab-b";
	font-size: $a;
}

.shadow {
	box-shadow: 0 0 $a rgba(0,0,0,.3);
	background-color: $bg;
}

.portfolio {
	padding: 0;
	width: 1.3 * $w;
	height: $w * 1.7;
	transform: perspective(1000vw) rotateY(0deg);
}

.snap {
	float: left;
	width: $w / 2;
	padding: $a/3;
	margin: $a * .65;
	transition: .5s;
	cursor: pointer;
	background-color: $bg;
	box-shadow: $a/7 $a/7 $a/2 rgba(0,0,0,.4);
	transform: perspective(200vw) translateZ(.1vw);
}

.snap:before {
	content: "bla bla bla";
	background-color: $bg;
}

.snap:hover{
	transform: perspective(200vw) translateZ(2*$a);
}

img {
	width: 100%;
	display: block;
}

body {
	margin: -.5vh 0;
	padding: 0;
	background-color: $bg;
	overflow-x: hidden;
	font-family: "JSlab-sb";
}


canvas {
	top: 0;
	z-index: -1;
	min-width: 100vw;
	max-width: 100vw;
	position: absolute;
}

.bg {
	left: -$a;
	z-index: -10;
	position: absolute;
}

.bar {
	margin: 0;
	background-color: $bg;
}

.nav {
	width: 21*$a;
	display: flex;
	margin: auto;
	flex-direction: row;
	left: 0; right: 0;
}

.item {	
	width: 100%;
	font-size: 2 * $a/3;
	cursor: pointer;
	transition: .5s;
	line-height: $a;
	text-align: center;
	padding: $a/2 0;
	font-family: "JSlab-sb";
	border-bottom: 2px solid rgba(0,0,0,0);
}

.item:hover {
	border-bottom: 2px solid #000;
}

.logo {
	color: $bg;
	background-color: $primary;
	margin: $a/2 0 0 $a/2;
	position: absolute;
	line-height: .5 * $a ;
	font-size:  $a;
	font-family: "JSlab-b";
}
#B {
	font-size: 90%;
}/*
#g {
	font-size: 130%;
	font-family: "JSlab-sb";
}*/


@media screen and (max-width: 600px) {
	$a: 7vw;
	
	body {
		margin: 0;
	}

	p {
		font-size: .75 * $a;
	}

	.content {
		padding: 2*$a $a;
	}

	.nav {
		width: 11*$a;
		right: $a;
		margin: auto;
	}

	.item {	
		font-size: 2 * $a/3;
		line-height: $a;
		padding: $a/2 0;
		margin: 4*$a $a/3 auto 0;
	}

	.logo {
		position: absolute;
		width: 10.5*$a;
		left:0; right: 0;
		margin: $a auto;
		line-height: 1.25*$a ;
		font-size:  2.2 * $a;
	}
}
