@font-face {
  src: url("fonts/JosefinSlab-SemiBold.ttf");
  font-family: "JSlab-sb"; }
@font-face {
  src: url("fonts/JosefinSlab-Bold.ttf");
  font-family: "JSlab-b"; }
*::-moz-selection {
  background-color: #fff; }

*::selection {
  background-color: #fff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  width: 100%;
  display: block; }

body {
  margin: 7vw 0 -7vw 0;
  padding: 0;
  background-color: #ff8a65;
  overflow-x: hidden;
  font-family: "JSlab-sb"; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ff8a65 inset; }

#B {
  font-size: 70%;
  font-family: "JSlab-b"; }

.bar {
  box-shadow: 0 0 0.875vw rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  margin: 0;
  width: 100vw;
  z-index: 50;
  transition: .5s;
  background-color: #fff; }

.vis {
  top: 0; }

.hid {
  top: -7vw; }

.nav {
  width: 36.75vw;
  display: flex;
  margin: 0 auto;
  padding-top: 0.875vw;
  flex-direction: row;
  left: 0;
  right: 0; }

.item {
  width: 100%;
  font-size: 1.75vw;
  cursor: pointer;
  transition: .5s;
  line-height: 2.625vw;
  text-align: center;
  padding: 0.875vw 0;
  font-family: "JSlab-sb";
  border-bottom: 4px solid rgba(100, 100, 100, 0);
  border-radius: 10%; }

.underline, .item:hover {
  border-radius: 0%;
  border-bottom: 5px solid #646464; }

.logo {
  padding: 0 0.875vw;
  color: #000;
  background-color: #fff;
  margin: 1.225vw 0 0 3.5vw;
  position: absolute;
  line-height: 1.575vw;
  font-size: 2.625vw;
  font-family: "JSlab-sb"; }

.up {
  position: fixed;
  bottom: 1.75vw;
  background-color: #fff;
  height: 3.5vw;
  width: 3.5vw;
  z-index: 100;
  text-align: center;
  line-height: 2.625vw;
  font-size: 3.5vw;
  cursor: pointer;
  transition: .5s;
  transform: perspective(20vw) rotateY(0deg) rotateZ(-90deg); }

.send {
  margin-top: 1.75vw;
  margin-right: -16.80875vw;
  float: right;
  background-color: #fff;
  height: 3.5vw;
  width: 3.5vw;
  z-index: 100;
  text-align: center;
  line-height: 2.625vw;
  font-size: 3.5vw;
  cursor: pointer;
  transition: .5s; }

.send:hover {
  transform: perspective(20vw) rotateY(0deg) rotateZ(0deg); }

.show {
  right: 0.875vw; }

.hide {
  right: -5.25vw; }

.up:hover {
  transform: perspective(20vw) rotateY(-20deg) rotateZ(-90deg); }

::-webkit-scrollbar {
  width: 0.875vw; }

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: content-box; }

::-webkit-scrollbar-thumb {
  background-color: #fff;
  height: 5.25vw; }

.thumb, .profile, .snap {
  width: 16.3625vw;
  margin: 1.05vw;
  transition: .25s;
  text-align: justify;
  background-color: #fff;
  box-shadow: 0.175vw 0.175vw rgba(100, 100, 100, 0.4), 0 0 0.875vw rgba(100, 100, 100, 0.4);
  transform: perspective(200vw) translateZ(0.1vw); }

.title {
  transition: 1.5s !important;
  margin-bottom: -3.5vw;
  margin-left: -1.75vw;
  font-size: 3.5vw;
  text-align: center; }

.content {
  margin: 8.925vw auto 14.875vw auto;
  transition: 1s; }

.section, form {
  width: 29.75vw;
  transition: 1s;
  padding: 3.5vw;
  margin: 5.25vw 27.625vw;
  font-size: 1.4vw;
  text-align: justify;
  background-color: #fff;
  transform: perspective(1000vw) rotateY(0deg); }

.highlight {
  background-color: #fff;
  padding: 0 1.75vw; }

.slide-left {
  margin-left: 5.25vw; }

.slide-right {
  margin-left: 44.75vw; }

.profile {
  transition: 1s;
  width: 17.85vw;
  float: right;
  padding: 0.875vw;
  margin-left: -6.41667vw;
  margin-bottom: -6.41667vw;
  box-shadow: 0.25vw 0.25vw 0.875vw rgba(0, 0, 0, 0.4);
  transform: rotateZ(1deg) translateX(0) translateY(0); }

.anim-profile {
  transform: rotateZ(1deg) translateX(7vw) translateY(-7vw);
  box-shadow: none; }

.portfolio {
  padding: 0;
  width: 59.5vw;
  height: 111.5625vw;
  margin-left: 19.3375vw;
  background-color: transparent;
  transform: perspective(1000vw) rotateY(0deg); }

.port-txt {
  float: left;
  background-color: #fff;
  margin: 1.05vw;
  margin-top: 8.225vw;
  line-height: 1.75vw;
  width: 33.775vw;
  padding: 1.75vw;
  font-size: 1.75vw; }

.snap {
  float: left;
  cursor: pointer;
  color: #000;
  overflow: hidden;
  display: block;
  font-size: 1.4vw;
  line-height: 3.5vw;
  padding: 0.58333vw;
  padding-top: 0;
  box-shadow: 0.35vw 0.35vw rgba(0, 0, 0, 0.2); }

.snap:hover {
  transform: perspective(200vw) translateZ(3.5vw);
  box-shadow: 0.875vw 0.875vw rgba(0, 0, 0, 0.3); }

.links {
  margin: 1.75vw 1.4vw;
  margin-bottom: 3.5vw;
  width: 20.825vw;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row; }

#greet {
  font-size: 2.625vw; }

#bio::first-letter {
  font-family: "JSlab-sb";
  font-size: 3.5vw; }

#t1 {
  transform: translateX(-12vw); }

#t2 {
  margin-bottom: -10.5vw; }

form {
  margin: 0;
  margin-left: -3.5vw;
  width: 35.7vw; }

#contact {
  width: 22.3125vw;
  text-align: center;
  background-color: transparent;
  font-size: 1.75vw; }

.contact {
  width: 100%; }

.contact:hover .cov {
  opacity: 1; }

.cov {
  transition: .5s;
  opacity: 0; }

.logo-img {
  position: absolute;
  width: 3.85vw; }

.in, input {
  margin-bottom: 1.75vw;
  width: 35.7vw;
  height: 3.5vw;
  font-size: 2.1vw;
  font-family: "JSlab-sb";
  background-color: transparent !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  transition: 1s; }

.focus, #msg:focus, input:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black; }

.in::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #333;
  font-size: 1.4vw; }

.in::-moz-placeholder, input::-moz-placeholder {
  color: #333;
  font-size: 1.4vw; }

.in:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #333;
  font-size: 1.4vw; }

.in:-moz-placeholder, input:-moz-placeholder {
  color: #333;
  font-size: 1.4vw; }

#msg:focus {
  height: 10.5vw !important; }

/* < < < MOUSETRACKING */
.bg {
  left: -1.75vw;
  z-index: -10;
  position: absolute; }

.wrapper {
  background-color: #ff8a65; }

.main {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute; }

.bg-grid > .row {
  height: 100%;
  display: flex; }

.row > .cell {
  width: 100%; }

.inner {
  min-width: 100%;
  min-height: 100%;
  border-top: 0.8vw solid rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 600px) {
  .main {
    padding-top: 21vw; }

  .section, form {
    width: auto;
    padding: 7vw;
    margin: 21vw 7vw;
    font-size: 4.9vw; }

  .content {
    left: 0;
    margin: 28vw 0 !important; }

  .title {
    margin-bottom: -14vw;
    margin-left: auto;
    font-size: 14vw; }

  .highlight {
    padding: 0 7vw;
    box-shadow: 0 0 3.5vw rgba(0, 0, 0, 0.5); }

  .up {
    bottom: 7vw;
    height: 14vw;
    width: 14vw;
    line-height: 10.5vw;
    font-size: 14vw;
    box-shadow: 0 0 3.5vw rgba(0, 0, 0, 0.5); }

  .send {
    margin-top: -16.1vw;
    margin-right: -6.3vw;
    height: 14vw;
    width: 14vw;
    line-height: 10.5vw;
    font-size: 14vw; }

  .show {
    right: 3.5vw; }

  .hide {
    right: -21vw; }

  .slide-left {
    margin-left: 21vw; }

  .slide-right {
    margin-left: -18vw; }

  .portfolio {
    width: auto;
    height: auto;
    margin: 21vw auto; }

  .port-txt {
    text-align: left;
    margin: auto;
    margin-top: 21vw;
    margin-bottom: 7vw;
    line-height: 7vw;
    width: auto;
    padding: 7vw;
    font-size: 5.6vw;
    box-shadow: 0 0 3.5vw rgba(0, 0, 0, 0.5); }

  .thumb, .profile, .snap {
    float: none;
    width: auto;
    margin: 7vw auto;
    background-color: #fff;
    box-shadow: 0.7vw 0.7vw rgba(100, 100, 100, 0.4), 0 0 3.5vw rgba(100, 100, 100, 0.4); }

  .snap {
    text-align: center;
    font-size: 5.6vw;
    line-height: 14vw;
    padding: 2.33333vw;
    box-shadow: 1.4vw 1.4vw rgba(0, 0, 0, 0.2); }

  .profile {
    float: right;
    width: 44.1vw;
    padding: 1.75vw;
    margin: auto;
    box-shadow: 0.7vw 0.7vw 1.75vw rgba(0, 0, 0, 0.4);
    transform: translateX(7vw) rotate(3deg); }

  .bg {
    left: -7vw; }

  .bar {
    height: 39.2vw;
    margin-bottom: 14vw;
    box-shadow: 0 0 3.5vw rgba(0, 0, 0, 0.4); }

  .hid {
    top: -42vw; }

  .nav {
    width: auto; }

  .item {
    font-size: 5.6vw;
    line-height: 10.5vw;
    padding: 3.5vw 0;
    margin-top: 21vw; }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 63.7vw;
    margin: 3.5vw auto;
    line-height: 8.4vw;
    font-size: 14vw; }

  .links {
    margin: 7vw auto 0 auto;
    width: 63.7vw; }

  #contact {
    width: auto;
    margin-left: -7vw;
    margin-bottom: -14vw;
    font-size: 7vw; }

  .logo-img {
    width: 11.9vw; }

  #greet {
    font-size: 5.6vw; }

  #bio {
    box-shadow: 0 0 3.5vw rgba(0, 0, 0, 0.5); }

  #bio::first-letter {
    font-size: 7vw; }

  #t2 {
    margin-bottom: -42vw; }

  .in, input {
    margin-bottom: 7vw;
    width: 73.5vw;
    height: 14vw;
    font-size: 8.4vw; }

  .in::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-size: 5.6vw; }

  .in::-moz-placeholder, input::-moz-placeholder {
    font-size: 5.6vw; }

  .in:-ms-input-placeholder, input:-ms-input-placeholder {
    font-size: 5.6vw; }

  .in:-moz-placeholder, input:-moz-placeholder {
    font-size: 5.6vw; }

  #msg:focus {
    height: 42vw !important; }

  form {
    margin-top: -1.4vw;
    width: 71.05vw; }

  .row > .cell {
    padding: 6vw; }

  .inner {
    border-top: 1vw solid rgba(255, 255, 255, 0.2); }

  .cov {
    opacity: 1; } }
.thankyou {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  visibility: hidden; }

.hide-me {
  animation: hide-me .5s ease; }

@keyframes hide-me {
  100% {
    left: -50%; } }

/*# sourceMappingURL=style.css.map */
